[Desktop Entry]
Name=The Chooser
Name[sv]=Väljaren
Comment=Visual decision helper for children
Comment[sv]=Beslutshjälp med bilder för barn
Exec=valjaren
Icon=se.danielnylander.valjaren
Type=Application
Categories=Education;Accessibility;Autismappar
